
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/

.footer {
    background-color:rgb(9, 1, 1);
    color:#FFFFFF;
    text-align: center;
    font-size: 18px;
  }
.wrapper{
    justify-content: right;
    padding-left: 80px;
    padding-right: 80px;
    width:100%;
}

.card_container {
    margin-left: 10px;
    margin-right: 10px;
display:grid;
grid-template-columns:repeat(auto-fit, minmax(12rem, 16rem));
gap:2rem;
justify-content: center;
}

.jumbotron{
    margin-top: auto;
    margin-left: 1px;
    margin-right: 1px;
}
.lead{
    padding-left: 20px;
}
.display-4{
    padding-left: 20px;
}
.description{
    padding-left: 20px;
}